body, main {
  background: #333;
  color: #eee;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#prompt {
  width: 90%;
  max-width: 600px;
  height: 5em;
  margin-top: 20px;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: #bbb;
  color: #333;
  outline: none;
}

#send-prompt-button {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: #eee;
  font-size: 1.2rem;
  cursor: pointer;
  transition: background-color 0.3s, transform 0.1s;
}

#send-prompt-button:active {
  background-color: #555;
  transform: scale(0.95);
}

#maingen {
  margin-top: 20px;
  width: 90%;
  max-width: 600px;
  height: 512px;
  background: #111;
  border-radius: 6px;
}

#main-progress {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 3;
  border-radius: 0;
  height: 6px;
  background-color: #607D8B;
  border: 0;
}

#main-progress::-moz-progress-bar {
  background: #4CAF50;
}

#main-progress::-webkit-progress-bar {
  background: transparent;
}

#main-progress::-webkit-progress-value {
  background: #4CAF50;
}

#main-progress::-moz-progress-bar,
#main-progress::-webkit-progress-value {
    transition: width 0.5s ease;
}