body {
  background: #333;
  color: #eee;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  align-items: center;
  min-height: 100vh;
}

#prompt {
  width: 90%;
  max-width: 600px;
  height: 5em;
  margin-top: 20px;
  padding: 0 10px;
  border: none;
  border-radius: 4px;
  font-size: 1.4rem;
  background-color: #bbb;
  color: #333;
}

#sendPromptButton {
  margin-top: 20px;
  padding: 10px 20px;
  border: none;
  border-radius: 4px;
  background-color: #444;
  color: #eee;
  font-size: 1.2rem;
  cursor: pointer;
}

#maingen {
  margin-top: 20px;
  width: 90%;
  max-width: 600px;
  height: 512px;
  background: #111;
  border-radius: 6px;
}